$primary: #FEFEE0;
$light: #FFCCCC;
$dark: #5A3A22;
$h1-font-size: 5em;
$font-title: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$marginblock: 20px;
$round-radius: 50px;
$box-shadow-lg:               0 1rem 3rem rgba(black, 1) !default;
$box-shadow:                  0 .5rem 1rem rgba($dark, 1) !default;